# Mandatory: raw-gadget framework
CONFIG_USB_GADGET=m
CONFIG_USB_RAW_GADGET=m
CONFIG_USB_DUMMY_HCD=m

# USB serial
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CH341=m
CONFIG_USB_SERIAL_FTDI_SIO=m
CONFIG_USB_SERIAL_CP210X=m
CONFIG_USB_SERIAL_PL2303=m
CONFIG_USB_SERIAL_OTI6858=m

# USB network
CONFIG_USB_NET_DRIVERS=y
CONFIG_USB_RTL8150=m

# USB input tablets
CONFIG_INPUT_TABLET=y
CONFIG_TABLET_USB_HANWANG=m
CONFIG_TABLET_USB_PEGASUS=m
CONFIG_TABLET_USB_ACECAD=m
CONFIG_TABLET_USB_KBTAB=m
CONFIG_TABLET_USB_AIPTEK=m

# USB storage
CONFIG_USB_STORAGE=y

# USB class
CONFIG_USB_PRINTER=m
CONFIG_USB_TMC=m

# USB misc
CONFIG_USB_SISUSBVGA=m
CONFIG_USB_ADUTUX=m
CONFIG_USB_APPLE_MFI_FASTCHARGE=m
CONFIG_USB_APPLEDISPLAY=m
CONFIG_USB_CHAOSKEY=m
CONFIG_USB_CYPRESS_CY7C63=m
CONFIG_USB_CYTHERM=m
CONFIG_USB_IDMOUSE=m
CONFIG_USB_IOWARRIOR=m
CONFIG_USB_LCD=m
CONFIG_USB_LDUSB=m
CONFIG_USB_LEGOUSBTOWER=m
CONFIG_USB_SEVSEG=m
CONFIG_USB_TRANCEVIBRATOR=m
CONFIG_USB_USS720=m
CONFIG_USB_YUREX=m

# Additional dependencies
CONFIG_PARPORT=m
CONFIG_PPDEV=m
